$zw-primary-color: #000000; //#EE3E07
$zw-opening: #FF6D2D;
$zw-primary-color-darker: #000000; //#BF3408
$zw-black: #000000;
$zw-background-color: #FFFFFF;
$zw-gray: #C4C4C4;
$covid-color: #FFEA2D;

$zw-text-button-color: $zw-primary-color;
$zw-text-color: $zw-primary-color;
$zw-text-negativ-color: #FFFFFF;

$zw-text-button-color-darker: $zw-primary-color-darker;
$zw-button-border-color-darker: $zw-primary-color-darker;

$zw-button-border-negativ-color: #FFFFFF;
$zw-button-border-color: $zw-primary-color;
$zw-button-active-color: $zw-primary-color;

$zw-button-negativ-border-color: #FFFFFF;
