$num_columns: 6;

.event {
  width: 100%;
}

.events-list {
  padding: 0 10px 60px 10px;
}

.events-container {
  margin-top: 0px;
}

.event-line,
.event-line-mobile {
  display: flex;
  flex-direction: row;
  > span {
    flex-grow: 1;
    flex-basis: 0;
  }
  position: relative;
}

.event-date {
  width: 10%;
}

.event {
  cursor: pointer;
}

.event-line {
  border-bottom: solid 2px transparent;
  @media screen and (max-width: $mobile_breakpoint) {
    border-bottom-color: black;
  }
}

.event:hover,
.event.active {
  > .event-line {
    border-bottom-color: black;
  }
  .event-location,
  .event-time,
  .event-image {
    visibility: visible;
  }
}

.event-location,
.event-time {
  visibility: hidden;
  @media screen and (max-width: $mobile_breakpoint) {
    visibility: visible;
  }
}



.event-detail {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $mobile_breakpoint) {
    flex-direction: column-reverse;
  }
}


.event-detail > :first-child {
  width: 3 * 100% / $num_columns;
  margin: 0 100% / $num_columns 0 100% / $num_columns;
  @media screen and (max-width: $mobile_breakpoint) {
    width: 100%;
    margin: 0;
  }
}

.event-detail > :first-child > div {
  margin: 1em 0;
}

.event-detail > :nth-child(2) {
  width: 100% / $num_columns;
  @media screen and (max-width: $mobile_breakpoint) {
    width: 100%;
  }
}

.event-subheader > span {
  margin-right: 2em;
}

.event-image-hover {
  position: relative;
}

.event-image-hover > img {
  position: absolute;
}

.always-expanded {
  cursor: default;
}