@font-face {
  font-family: Monument;
  src: url('./assets/fonts/ABCMonumentGrotesk-Bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: Monument;
  src: url('./assets/fonts/ABCMonumentGrotesk-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Monument;
  src: url('./assets/fonts/ABCMonumentGrotesk-Regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Monument;
  src: url('./assets/fonts/ABCMonumentGrotesk-RegularItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Monument;
  src: url('./assets/fonts/ABCMonumentGrotesk-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Monument;
  src: url('./assets/fonts/ABCMonumentGrotesk-MediumItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Croissant;
  src: url('./assets/fonts/CroissantDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ARK;
  src: url('./assets/fonts/ARK-ES-SolidBold.woff') format('woff');
  font-weight: 400;
}

* {
  font-family: Monument;
}

.opening-font{
  font-family: Croissant;
  padding: 0.1em 0.5em !important;
  letter-spacing: 0.05em;
}

h1 {
  font-family: Monument;
  font-size: 128px;
  src: url('./assets/fonts/ABCMonumentGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
