@import './colour-palette';

.join {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    z-index: 100;
}

.join > span {
    user-select: none;
    font-size: 1em;
}

.join.active {
    color: white;
    background: $zw-primary-color;
    border-color: white;
}

.join-description {
    margin: 1em 0;
    max-width: 800px;
}