@import './colour-palette';

.navigation {
  z-index: 100;
}

.navigation-top {
  position: sticky;
  top: 10px;
  left: 0;
  width: 100%;
  margin-top: 10px;
}

.navigation-bottom {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  margin-bottom: 10px;
}

.nav-scroll-view {
  overflow: scroll;
  width: calc(100% + 10px);
}

.red-circle {
  border-radius: 100%;
  border: 2px solid red;
  height: 0.8em;
  width: 0.8em;
  line-height: 100%;
}

.blink {
  -webkit-animation: blink 3s infinite both;
  animation: blink 3s infinite both;
}

@-webkit-keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.nav-item {
  background: $zw-background-color;
  border: 2px solid $zw-button-border-color;
  padding: 0.2em 0.5em;
  border-radius: 22px;

  color: $zw-text-button-color;
  text-decoration: none;

  &.active {
    background: $zw-button-active-color;
    color: $zw-text-negativ-color;
  }
}

.nav-item:hover{
  color: $zw-text-button-color-darker;
  border: 2px solid $zw-button-border-color-darker;

  &.active {
    color: $zw-text-negativ-color;
    background: $zw-button-active-color;
  }
}

.languageSelector {
  cursor: pointer;
  user-select: none;
  color: $zw-text-button-color;

  input {
    display: none;
  }

  input[type="radio"]:checked + label {
    display: none;
  }
}

.languageSelector:hover{
  font-weight: bold;
}

.nav-grid{
  display: grid;
  grid-template-columns: 10px;
  grid-auto-columns: calc((100% - 20px) / 7);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  grid-gap: 0;
  grid-auto-flow: column;
  height: 35px;
}

.nav-grid:before{
  content: '';
  width: 20px;
}

.nav-calendar{
  left: 10px;
}

.nav-last-item{
  margin-right: 10px;
}

.nav-mobile-hidden{
  display: flex;
}

.nav-mobile-show{
  display: none;
}

.nav-show-hidden{
  display: flex;
}