.basic-paragraph{
    margin-bottom: 80px;
    width: 100%;
    max-width: 720px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-top: 30px;
    margin-left: auto;
}