@import './colour-palette';

p {
  font-size: 1em;
  font-family: Monument;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 1em;
}

h1{
  font-size: 1.8em !important;
}

body {
  font-family: Monument, "Helvetica", "Helvetica Neue", Arial, sans-serif;
}

a {
  //border-bottom: 2px solid;
  //color: $zw-opening;
  //font-style: italic;
}

a:hover{
  font-weight: bold;
} 

.covid-grid > a:hover{
  font-weight: normal;
}

.basic-paragraph > ul > li > a{
  font-style: italic;
  border-bottom: none;
}

.basic-paragraph > ul > li > strong > a{
  font-style: italic;
  border-bottom: none;
}

.basic-paragraph > p > a{
  font-style: italic;
  border-bottom: none;
}



.no-underline {
  border-bottom: none;
}

br {
  min-height: 19px;
}

hr{
  margin-bottom: 1em;
  border-top-color: $zw-background-color;
}