$mobile_breakpoint: 800px;
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './style/buttons';
@import './style/events';
@import './style/event-single';
@import './style/fonts';
@import './style/logo';
@import './style/join';
@import './style/button';
@import './style/text';
@import './style/navigation';
@import './style/imprint-overlay';
@import './style/single-page';
@import './style/form';
@import './style/opening';
@import './style/mobile';
@import './style/top-border';
@import './style/live';
@import './style/covid';
@import './style/gastro';
@import 'react-responsive-carousel/lib/styles/carousel.min.css';



html {
  font-size: 16px;
}

*:focus {
  outline: none;
}

.hide-scroll-bar {

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
